* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #c3e6cb;
  margin-top: 10%;
}

/* text-container */

.text-container {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  

}

.text-container h1 {
  padding: 15px 15%;
}

.text-container p{
  text-align: justify;
}

/* navegacion principal*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  /*background:rgba(0,0, 0, .1);*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover:after {
  left: 100%;
}

.logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navegacion a {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}
#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

/*menu responsive*/
@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}
@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #icon-menu {
    display: none;
  }
  .icons #icon-close {
    display: none;
  }
  #check:checked ~ .icons #icon-close {
    display: block;
  }
  .navegacion {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navegacion {
    height: 17.7rem;
  }

  .navegacion a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease;
    opacity: 0;
  }
  #check:checked ~ .navegacion a {
    transform: translateY(0);
    transition-delay: calc(0.15s * var(--i));
    opacity: 1;
  }
}

/* Estilos generales para el form de contacto */
.form-container {
  max-width: 600px; /* Máximo ancho del contenedor del form */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 50px;
  background-color: rgba(255, 255, 255, .80);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h1 {
  text-align: center;
  top: 0;
  bottom: 15px;
  color: #000000;
}

/* Estilos del form */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 8px;
  font-weight: bold;
}

form input[type='text'],
form input[type='email'],
form input[type='number'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

form button {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0056b3;
}

/* Mensaje de confirmación */
.message {
  display: none; /* Inicialmente oculto */
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease; /* Transición suave para el cambio de opacidad */
  margin: 20px; /* Margen opcional */
  padding: 10px; /* Padding opcional */
  background-color: #d4edda; /* Fondo verde claro */
  color: #155724; /* Color de texto verde oscuro */
  border: 1px solid #c3e6cb; /* Borde verde claro */
  border-radius: 4px; /* Bordes redondeados */
}

.message.visible {
  display: block;
  opacity: 1;
}
.char-counter {
  font-size: 0.8em;
  color: #555;
}

input.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.9em;
}

.wikigroup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px; /* Añade algo de relleno alrededor del contenedor */
  box-sizing: border-box; /* Asegura que el padding no se sume al ancho total */
}

.wikigroup {
  display: inline-block;
  background-color: rgba(61, 61, 61, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: white;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.title {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 38px;
  text-shadow: 2px 2px 4px #000000;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.member {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(22, 30, 54);
  transition: transform 0.3s;
}

.member:hover {
  transform: scale(1.05);
}

.name {
  padding: 5px 0;
}

.role {
  font-size: 20px;
  padding-bottom: 8px;
  color: rgba(118, 152, 232, 0.594);
}

img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .team-list {
    grid-template-columns: 1fr;
  }
}




/* Estilos de pruebas */

/* Estilos del Modal */
.modal-overlay {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté sobre otros contenidos */
}

.modal-body {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 90%; /* Ajuste para el tamaño del modal */
  max-height: 90%; /* Ajuste para el tamaño del modal */
  overflow: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ddd;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-title {
  margin-bottom: 10px;
  font-size: 24px; /* Tamaño del título */
}

.modal-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px; /* Espacio entre la imagen y la descripción */
}

.modal-description {
  font-size: 16px; /* Tamaño de la descripción */
  color: #333; /* Color del texto */
}

main {
  margin-top: 100px; /* Ajusta este valor según el tamaño del header */
  padding: 0 20px; /* Espacio adicional en los lados del main para centrado */
}

main h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #ddd;
}

.pruebas-container {
  display: flex;
  justify-content: center; /* Centra las columnas dentro del contenedor */
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre columnas */
  padding: 0; /* Quita el padding lateral para evitar desbordes */
}

.pruebas-column {
  flex: 1;
  max-width: 30%; /* Ajuste para que quepan dos columnas con espacio entre ellas */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px; /* Espacio lateral para centrar el contenido */
}

.prueba-item {
  background-color: rgba(255, 255, 255, .80);
  margin: 10px 0; /* Espacio entre elementos dentro de la columna */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prueba-imagen {
  width: 100%;
  height: 200px; /* Ajuste de altura para un tamaño uniforme */
  object-fit: cover; /* Recortar la imagen si es necesario */
  border-radius: 8px;
}

.prueba-text {
  margin-top: 15px;
  text-align: center;
}

.prueba-text h3 {
  margin-bottom: 10px;
}

.prueba-text p {
  margin-bottom: 0;
}

/* Estilos Responsivos */
@media (max-width: 992px) {
  .pruebas-container {
    justify-content: center; /* Asegura el centrado en pantallas más pequeñas */
  }

  .pruebas-column {
    max-width: 100%;
    margin: 10px 0; /* Espacio vertical entre columnas en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .pruebas-container {
    flex-direction: column;
    justify-content: center; /* Asegura el centrado en pantallas más pequeñas */
  }

  .pruebas-column {
    max-width: 100%;
    align-items: center; /* Alinea los elementos al centro en pantallas pequeñas */
  }

  .prueba-item {
    max-width: 100%;
  }
}


/*seccion de deployment*/

.deployment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 40px;
  gap: 20px;
}

.deployment-item {
  background-color: rgba(255, 255, 255, .80);
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deployment-imagen {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.deployment-text {
  margin-top: 15px;
  text-align: center;
  color: #333;
}

.deployment-text p {
  margin: 5px 0;
}

details {
  margin-top: 10px;
  text-align: left;
}

details summary {
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 768px) {
  .deployment-container {
      flex-direction: column;
      align-items: center;
  }

  .deployment-item {
      max-width: 100%;
  }
}

