<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arquitectura</title>
    <link
      rel="stylesheet"
      href="/css/styles.css"
      th:href="@{/css/styles.css}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <a href="/" class="logo">Bienvenidos a tu casa</a>
      <input type="checkbox" id="check" />
      <label for="check" class="icons">
        <i class="bx bx-menu" id="icon-menu"></i>
        <i class="bx bx-x" id="icon-close"></i>
      </label>
      <nav class="navegacion">
        <a href="/controllers/wikigroup">Nuestro equipo</a>
        <a href="#" style="--i: 0">Descripcion</a>
        <a href="#" style="--i: 1">Requerimientos</a>
        <a href="/controllers/arquitecture" style="--i: 2">Arquitectura</a>
        <a href="/controllers/pruebas" style="--i: 3">Pruebas</a>
        <a href="#" style="--i: 4">Despliegue</a>
        <a href="#" style="--i: 5">Para desarrollo</a>
        <a href="/controllers/form" style="--i: 6">Contactanos</a>
      </nav>
    </header>

    <div class="arquitecture-container">
      <div class="arquitecture">
        <h1 class="title">Arquitectura</h1>
        <div class="diagram-list">
          <div class="diagram-item">
            <h2>Context Diagram</h2>
            <img
              th:src="@{${arq.contextDiagramUrl}}"
              alt="Context Diagram"
              class="diagram"
            />
          </div>
          <div class="diagram-item">
            <h2>Container Diagram</h2>
            <img
              th:src="@{${arq.containerDiagramUrl}}"
              alt="Container Diagram"
              class="diagram"
            />
          </div>
          <div class="diagram-item">
            <h2>Component Diagram</h2>
            <img
              th:src="@{${arq.componentDiagramUrl}}"
              alt="Component Diagram"
              class="diagram"
            />
          </div>
          <div class="diagram-item">
            <h2>Entity Relation Model</h2>
            <img
              th:src="@{${arq.entityRelationModelUrl}}"
              alt="Entity Relation Model"
              class="diagram"
            />
          </div>
          <div class="diagram-item">
            <h2>Deployment Diagram</h2>
            <img
              th:src="@{${arq.deploymentDiagramUrl}}"
              alt="Deployment Diagram"
              class="diagram"
            />
          </div>
        </div>
      </div>
    </div>

    <script src="/js/script.js" th:src="@{/js/script.js}"></script>
  </body>
</html>
