<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arquitectura</title>
    <link
      rel="stylesheet"
      href="/css/styles.css"
      th:href="@{/css/styles.css}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div th:replace="fragments/navbar :: header"></div>

    <div class="arquitecture-container">
      <div class="arquitecture">
        <h1 class="title">Arquitectura</h1>
        <div class="diagram-list">
          <div class="diagram-item">
            <h2>Context Diagram</h2>
            <img
              th:src="@{${arq.contextDiagramUrl}}"
              alt="Context Diagram"
              class="diagram"
            />
          </div>
          <div class="diagram-item">
            <h2>Container Diagram</h2>
            <img
              th:src="@{${arq.containerDiagramUrl}}"
              alt="Container Diagram"
              class="diagram"
            />
          </div>
          <div class="diagram-item">
            <h2>Component Diagram</h2>
            <img
              th:src="@{${arq.componentDiagramUrl}}"
              alt="Component Diagram"
              class="diagram"
            />
          </div>
          <div class="diagram-item">
            <h2>Entity Relation Model</h2>
            <img
              th:src="@{${arq.entityRelationModelUrl}}"
              alt="Entity Relation Model"
              class="diagram"
            />
          </div>
          <div class="diagram-item">
            <h2>Deployment Diagram</h2>
            <img
              th:src="@{${arq.deploymentDiagramUrl}}"
              alt="Deployment Diagram"
              class="diagram"
            />
          </div>
        </div>
      </div>
    </div>

    <script src="/js/script.js" th:src="@{/js/script.js}"></script>
  </body>
</html>
