<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Bienvenidos a tu casa</a>
        <input type="checkbox" id="check">
       <label for="check" class="icons">
          <i class='bx bx-menu' id="icon-menu"></i>
          <i class='bx bx-x' id="icon-close" ></i>
       </label>
      <nav class="navegacion">
          <a href="/controllers/wikigroup">Nuestro equipo</a>
          <a href="#" style="--i:0;">Descripcion</a>
          <a href="#" style="--i:1;">Requerimientos</a>
          <a href="#" style="--i:2;">Arquitectura</a>
          <a href="#" style="--i:3;">Pruebas</a>
          <a href="#" style="--i:4;">Despliegue</a>
          <a href="#" style="--i:5;">Para desarrollo</a>
          <a href="/controllers/formulario" style="--i:6;">Contactanos</a>
      </nav>
  </header>

  <main>
    <!-- Mostrar mensaje de confirmación si existe -->
    <div class="message">
        <p>Mensaje de confirmación</p>
    </div>

    <!-- Contenedor para el formulario -->
    <div class="form-container">
        <h1>Formulario de Contacto</h1>
        <!-- Formulario para enviar contacto -->
        <form id="contactForm" action="/controllers/formulario" method="post">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required maxlength="50">
            <div class="char-counter" id="nameCounter">0/50</div>
            <br>
            <label for="lastname">Apellido:</label>
            <input type="text" id="lastname" name="lastname" required maxlength="50">
            <div class="char-counter" id="lastnameCounter">0/50</div>
            <br>
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required maxlength="100">
            <div class="char-counter" id="emailCounter">0/100</div>
            <br>
            <label for="semestre">Semestre:</label>
            <input type="number" id="semestre" name="semestre" required min="1" max="16">
            <div class="char-counter" id="semestreCounter"></div>
            <br>
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" required maxlength="200">
            <div class="char-counter" id="descripcionCounter">0/200</div>
            <br>
            <div class="error-message" id="errorMessage"></div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</main>
<script th:src="@{/js/script.js}"></script>

</body>
</html>