<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro Equipo</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <h1>Conoce a nuestro equipo</h1>
    <div class="team-container">
        <div th:each="member : ${teamMembers}" class="team-member">
            <img th:src="@{${member.imageUrl}}" alt="Foto de [[${member.name}]]">
            <h2 th:text="${member.name}">Nombre del miembro</h2>
            <h3 th:text="${member.role}">Rol del miembro</h3>
            <p th:text="${member.bio}">Descripción del miembro</p>
        </div>
    </div>

    <script th:src="@{/js/script.js}"></script>
</body>
</html>